/* Downloaded Fonts From https://www.cdnfonts.com/ */
/* Logo Font */
@font-face {
    font-family: karmaticArcade;
    src: url(../fonts/karmatic_arcade.ttf);
}

/* Navigation Font */
@font-face {
    font-family: itvReemWebmedium;
    src: url(../fonts/itv_reem_webmedium.ttf);
}

/* Header Font */
@font-face {
    font-family: laborUnion;
    src: url(../fonts/labor_union.otf);
}

/* Description Font */
@font-face {
    font-family: handoSoftTrialRegular;
    src: url(../fonts/hando_soft_trial_regular.ttf);
}

body {
    background-color: black;
}

/* Navigation Bar */
.page-nav {
    background-color: #C5FAD5;
}

.logo, .navs-div {
    text-align: center;
    margin: auto;
    width: max-content;
    padding-left: 2.1%;
    padding-right: 2.1%;
}

.logo a, .logo a:hover, .logo a:focus, .logo a:active {
    font-family: karmaticArcade;
    font-size: 110%;
    text-decoration: none;
    color: black;
}

.navs {
    font-family: itvReemWebmedium;
    font-size: 103%;
    text-decoration: none;
    color: black;
    line-height: 3rem;
}

#navs-1-div:hover .nav-dropdown {
    display: block;
}

.nav-dropdown {
    display: none;
    position: absolute;
    text-align: left;
    transform: translate(-25%);
}

.nav-dropdown-div {
    background-color: #C5FAD5;
    color: black;
    font-family: itvReemWebmedium;
    padding: 12% 150% 12% 25%;
    display: block;
    text-decoration: none;
}

.nav-dropdown-div:hover {
    background-color: black;
    color: white;
}

/* Footer */
.footer {
    background-color: #C5FAD5;
    text-align: center;
}

.footer-icon {
    width: 2%;
    height: 2%;
    margin: 1%;
}

/* Read More Container */
.page-readmore {
    color: white;
    padding: 0 4%;
    margin-bottom: 7%;
}

/* Read More Header */
.readmore-header {
    text-align: center;
    margin: 9% 0 7% 0;
    opacity: 0;
    transform: translate(0, -100px);
}

.readmore-title {
    padding-bottom: 1%;
    font-family: laborUnion;
    font-size: 250%;
}

.readmore-line {
    border: 2px solid #C5FAD5;
    background-color: #C5FAD5;
    border-radius: 5px;
    width: 70px;
    opacity: 1;
    margin: auto;
}

/* Read More Articles */
.readmore-article-a {
    padding: 0;
    text-decoration: none;
    color: white;
    width: 22.5%;
    margin-left: 3%;
    opacity: 0;
    transform: translate(-100px, 0);
}

.readmore-article-a:first-of-type {
    margin-left: 0;
}

.readmore-article-a:hover {
    color: black;
    background-color: #C5FAD5;
}

.readmore-article-img {
    width: 100%;
    aspect-ratio: 10/7.5;
}

.readmore-article-card {
    margin-left: 5%;
    margin-right: 5%;
}

.readmore-article-header {
    margin-top: 5%;
}

.readmore-article-line {
    border: 2px solid #C5FAD5;
    background-color: #C5FAD5;
    border-radius: 5px;
    width: 25%;
    opacity: 1;
}

.readmore-article-a:hover .readmore-article-line {
    border: 2px solid black;
    background-color: black;
}

/* Page Main Container */
.page-main {
    color: white;
    padding: 0 10%;
}

/* Page Header*/
.page-header {
    text-align: center;
    margin: 9% 0 7% 0;
}

.header-title, .header-title-sm {
    padding-bottom: 1%;
    font-family: laborUnion;
    font-size: 350%;
}

.header-title-sm {
    font-size: 200%;
}

.header-line {
    border: 2px solid #C5FAD5;
    background-color: #C5FAD5;
    border-radius: 5px;
    width: 70px;
    opacity: 1;
    margin: auto;
}

/* Main 1 Content*/
.content-desc-div h6 {
    margin-top: 5%;
    line-height: 1.5;
    font-family: handoSoftTrialRegular;
}

/* Extended From Apex Charts Id */
#chart {
    color: black;
}

.content-2-img-div img {
    width: 100%;
    height: 100%;
}

.content-2-div {
    padding-left: 4%;
}

.section-div {
    margin-bottom: 10%;
}

/* Large Image Section */
.lg-img-div {
    padding: 0;
    margin-top: 9%;
    margin-bottom: 10%;
}

.lg-img-div img {
    width: 100%;
    aspect-ratio: 16/6;
}

/* Change style on different screen sizes */
@media only screen and (max-width: 576px) {

    /* Ensure Dropdown Stays Within Screen Width */
    .nav-dropdown {
        transform: translate(-117%);
    }
}

@media only screen and (max-width: 767px) {
    
    .header-title {
        font-size: 250%;
    }

    .readmore-title {
        font-size: 200%;
    }

    .readmore-article-a, .readmore-article-a:first-of-type {
        width: 70%;
        margin: auto;
        margin-bottom: 5%;
    }
    
    .content-2-div {
        margin-top: 50px;
    }
}